$primary-color: #77b3c4;
$secondary-color: white;
$tertiary-color: #6fb7d4;
$gradient-color: #6abdb6;
$text-black: #5c5c5c;
$text-gray: #999999;
$table-gray-text: #696969;
$border-gray: #eeeeee;
$scroll-thumb: #c2c2c2;
$scroll-track: #efefef;
$filter-bg: #f9f9f9;
